BINANCE_SYMBOL=SIRENUSDT
BINANCE_BASE_URL=https://fapi.binance.com
BINANCE_API_KEY=
PRICE_CRON=0 */5 * * * *
SIGNAL_CRON=5 */5 * * * *
PRICE_CHANGE_THRESHOLD=0.01
OI_UP_THRESHOLD=0.01
OI_DOWN_THRESHOLD=0.02
VOLUME_DROP_THRESHOLD=0.15
EXTREME_SHORT_RATIO=0.80
EXTREME_LONG_RATIO=1.80
ALERT_COOLDOWN_MINUTES=30
TELEGRAM_BOT_TOKEN=8695341071:AAG77d4ghMOtNpvVIn80UWofKW3zPOu0Gac
TELEGRAM_CHAT_ID=
